{% extends 'project\templates\test.html' %}

{% load static %}

{% block content %}

<head>
    <title>Clinic</title>
   

</head>    
<h1> eshta eshta eshta man </h1>

<img src = " {% static 'image/500x500.jpg' %}" alt =""><br>
<br>

<br>
<span><button><a href="http://127.0.0.1:8000/app2/viewdata/"> Login as patient</a></button></span>
<br><br>
<span><button><a href="http://127.0.0.1:8000/app2/gettemp">Login as doc</a></button></span>
<br>
<br>
<img src = " {% static 'image/chill.jpg' %}" alt =""><br>

{% endblock content %}  
